
<% unless @article_part.blank? %>
  <% form_for @article_part, :url =>{ :action => "update", :id => @article_part.id, :page => params[:page] } do |f| %>
    <%= f.error_messages %>
  
    <%# 記事名 %>
    <%= f.label :article_id, t("article_part.article") %>：
    <%=h Article.get_title( @article_part.article_id ) %><br />
  
    <br />

    <%# 番号 %>
    <%= f.label :number, t("article_part.number") %>：<br />
    <%= f.text_field :number, :class => "input_field_width_200" %><br />
    
    <br />
  
    <%# 記事パート名 %>
    <%= f.label :title, t("article_part.title") %>：<br />
    <%= f.text_field :title, :class => "input_field_width_200" %><br />
    
    <br />
  
    <%# 内容 %>
    <%= f.label :content, t("article_part.content") %>：<br />
    <%= f.text_field :content, :class => "input_field_width_200" %><br />
    
    <br />

    <%= f.submit t("menu.save"), :disable_with => t("menu.save") %><br />
  <% end %>
  
  <br />
  <br />
  
  <span class="menu">
    <%= link_to t("menu.list"), { :action => "index", :article_id => @article_part.article_id, :page => params[:page] } %>
  </span>
  
  <br />
<% else %>
  <span class="menu">
    <%= link_to t("menu.list"), { :action => "index", :page => params[:page] } %>
  </span>
<% end %>
